* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}

main {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-inline: auto;
}

.header {
   text-align: center;
}

.header > h2 {
  margin-bottom: 0;
  font-size: 40px;
}

.header > p {
  font-size: 16px;
}

.die-container {
  display: grid;
  grid-template: auto auto / repeat(5,1fr);
  gap: 20px;
}

.die-container > div {
  margin-right: 20px;
  margin-bottom: 10px;
}

.die-parent {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 7.81277px;
  cursor: pointer;
  
}

.die {
  font-weight: bolder;
  font-size: 30px;
}

button {
  background-color: #5035FF;
  border-radius: 5px;
  font-weight: bolder;
  padding: 10px 20px;
  font-size: 16px;
  height: 50px;
  width: 122px;
  border: none;
  color: white;
  cursor: pointer;
}

button:focus{
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}